
<h1><%= @content %></h1>

<h3>Top 5 Most Active Body Builder</h3>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Active_Days/Signup_Days</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>32/49</td>

    </tr>

  </tbody>
</table>