/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.send_email {
  color: white;
}

nav {
    height: 20%;
}
.maincontent {
    margin-top: 10%;
}

.navigation {
    margin: auto;
    padding: 40px;
}
.login {
    margin: auto;
}
.navigation:hover {
    background-color: lightblue;
}

li {
    margin: 20px;
}

.logo{
    text-align: center;
    float: right;
    
}
footer{
  text-align: center;
}
.facebook:hover {
  background-color: rgb(44, 103, 241);
  color: white;
}
.twitter:hover {
  background-color: rgb(63, 202, 218);
  color: white;
}
.youtube:hover {
  background-color: red;
  color: white;
}
.pinterest:hover {
  background-color: white;
  color: red;
}
/* .copyright {
  text-align: right;
  color: black;
} */
